@import '../../configs/color.scss';

.about-wrapper {
  height: 100%;
  width: 100%;
}

.about-column {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.about-main-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px 60px;
}

.about-content-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $MAIN_COLOR;
  padding: 30px 60px;
}

.about-design-bar {
  height: 5px;
  width: 50px;
  background-color: $MAIN_COLOR;
  margin-bottom: 15px;
}

.about-main-name {
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 100;
  color: $MAIN_COLOR;
  margin-bottom: 10px;
}

.about-title {
  font-family: 'Jua', 'ZCOOL QingKe HuangYou';
  font-size: 30px;
  font-weight: 100;
  color: $BACKGROUND_COLOR;
  margin-bottom: 10px;
}

.about-content {
  padding: 10px;
}

.about-content-column {
  display: flex;
  margin-bottom: 10px;
}

.about-content-sub-column {
  display: flex;
  align-items: center;
}

.about-content-main-text {
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 18px;
  color: $BACKGROUND_COLOR;
  width: 120px;
}

.about-content-text {
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 18px;
  color: $BACKGROUND_COLOR;
  margin-bottom: 5px;
}

.about-content-subtext {
  font-family: 'Raleway';
  font-size: 13px;
  color: $BACKGROUND_COLOR;
  margin-right: 8px;
}