{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "underscore": "lodash"
      }
    }]
  ],
  "presets": [
    "babel-preset-gatsby"
  ]
}
