@import '../../configs/color.scss';

.devlog-wrapper {
  display: flex;
  height: 100%;
}

.devlog-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 5vw;
}

.devlog-menu-column {
  padding: 9px 10px;
  border-right: 3px solid $MAIN_COLOR;
}

.devlog-menu-text {
  font-family: 'ZCOOL QingKe HuangYou';
  font-size: 20px;
  font-weight: 100;
  color: $MAIN_COLOR;
  cursor: pointer;
}

.devlog-list-wrapper {
  padding: 20px 10px;
  flex: 1,
}

.devlog-list-title {
  padding: 0 10px;
  margin-bottom: 20px;
  font-family: 'ZCOOL QingKe HuangYou';
  font-size: 25px;
  color: $MAIN_COLOR;
}

.devlog-post-wrapper {
  display: flex;
  width: 85%;
  background-color: $LIGHT_MAIN_COLOR;
  padding: 15px 25px;
  text-decoration: none;
}

.devlog-post-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $MAIN_COLOR;
  width: 200px;
  height: 130px;
}

.devlog-post-image {
  background-color: $MAIN_COLOR;
  max-width: 200px;
  max-height: 130px;
}

.devlog-post-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.devlog-post-text-title-wrapper {
  display: flex;
  align-items: baseline;
}

.devlog-post-text-title {
  font-family: 'Noto Sans KR';
  font-size: 23px;
  color: $BACKGROUND_COLOR;
  margin-right: 10px;
}

.devlog-post-text-title-date {
  font-family: 'Raleway';
  color: $MAIN_COLOR;
}

.devlog-post-text {
  font-family: 'Noto Sans KR';
  color: $BACKGROUND_COLOR;
}
