@import '../../configs/color.scss';

.page404-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .page404-title {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 80px;
    color: $LIGHT_MAIN_COLOR;
  }

  .page404-content {
    font-family: 'Raleway';
    font-weight: 100;
    font-size: 30px;
    color: $MAIN_COLOR;
    margin: 20px 0px 30px 0px;
  }

  .page404-link {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: $MAIN_COLOR;
  }
}